form {
  margin:15px 10px;
  background: #FFF;
  padding: 20px 30px 20px 30px;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border:1px solid #DDD;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding:15px;
}
form .form-item{
  margin: 2px 6px 16px 0;
}
form h1 {
  font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom: 1px solid #DADADA;
  margin: -10px -30px 30px -30px;
  color: #888;
}
form h1>span {
  display: block;
  font-size: 11px;
}
form label {
  display: block;
  margin: 0px 0px 5px;
  padding-top: 3px;
}
form label>span {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
form input[type="text"], form input[type="email"], form textarea, form select{
  border: 1px solid #CCC;
  color: #888;  
  outline: 0 none;
  padding: 5px 0px 5px 5px;
  width: 70%;
  height: 30px;
  line-height:30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;    
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
form input[type="checkbox"]{
  float:left;
}
form select.form-select {
  background: #FFF url('../images/down-arrow.png') no-repeat right;
  appearance:none;
  -webkit-appearance:none; 
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 70%;
  height: 35px;
  line-height:15px;
}
form textarea{
  height:100px;
  padding: 5px 0px 0px 5px;
  width: 70%;
}
form .form-submit {
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0 20px;
  background: #5FBFE7;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
form .form-submit:hover {
  opacity:0.9; 
  text-decoration: none;
}