.form-item-file-content div.description{
  padding: 10px 0 !important;
}
.form-item-file-content span{
  display:inline-block;
  float:left;
  margin-right: 5px;
}
.form-item-file-content ul{
  margin-top: 0;
  font-size: 0;
}
.form-item-file-content ul li{
  float:left;
  list-style: none;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.form-item-file-content ul li a{
  text-indent: -500px;
  display: block;
  width: 18px;
  overflow: hidden;
  height: 18px;
}
.form-item-file-content ul li #label_lib{
  background: url(../images/GetLabel.gif) no-repeat scroll 0 0;
}
.form-item-file-content ul li #views_lib{
  background: url(../images/GetViews.gif) no-repeat scroll 0 0;
}
 